<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Japan Earthquake Monitor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index/index.css') }}"/>
</head>
<body>
<div>
    <h1>Japan Earthquake Monitor</h1>
    <h2>By Allen Da in <a href="https://github.com/RealAllenDa/EEWMap">EEWMap</a></h2>
    <hr>
</div>
<div>
    <h1>1. <a href="{{ url_for("map.map_render") }}">Earthquake Map</a></h1>
    <h2>Includes EEW (Earthquake Early Warning), Intensity Report, Hypocenter Report, etc.</h2>
</div>
<div>
    <h1>2. <a href="{{ url_for("shake_level.shake_level_render") }}">Shaking Level</a></h1>
    <h2>Shaking level explanation:</h2>
    <table>
        <tr style="color: black">
            <th class="bold">Shake Level</th>
            <th class="bold">Explanation</th>
        </tr>
        <tr style="background: var(--shake-50);">
            <td class="bold">>=50</td>
            <td>Insensible shaking. Nobody will feel it.</td>
        </tr>
        <tr style="background: var(--shake-100); color: black">
            <td class="bold">>=100</td>
            <td>Moderate shaking. Almost all the people will feel it.</td>
        </tr>
        <tr style="background: var(--shake-500)">
            <td class="bold">>=500</td>
            <td>Strong shaking. People will have difficulty to do things.</td>
        </tr>
        <tr style="background: var(--shake-1000)">
            <td class="bold">>=1000</td>
            <td>Very strong shaking. People will have difficulty to stand.</td>
        </tr>
        <tr style="background: var(--shake-2000)">
            <td class="bold">>=2000</td>
            <td>Extremely strong shaking. People will have difficulty to crawl on the ground.</td>
        </tr>
        <tr style="background: var(--shake-3000)">
            <td class="bold">>=3000</td>
            <td>Catastrophic shaking. The wooden houses will crack.</td>
        </tr>
    </table>
</div>
<div>
    <h1>3. <a href="{{ url_for("history.history_render") }}">Previous Earthquakes</a></h1>
    <h2>Shows the Previous Earthquakes (Max. 30 entries)</h2>
</div>
</body>
</html>