body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    --background-color: rgb(28, 97, 103);
    --info-background-color: rgb(61, 67, 68);
    --border-color: rgb(82, 88, 89);
    --intensity-1: rgb(70, 100, 110);
    --intensity-2: rgb(30, 110, 230);
    --intensity-3: rgb(0, 200, 200);
    --intensity-4: rgb(250, 250, 100);
    --intensity-5: rgb(255, 180, 0);
    --intensity-6: rgb(255, 120, 0);
    --intensity-7: rgb(230, 0, 0);
    --intensity-8: rgb(160, 0, 0);
    --intensity-9: rgb(150, 0, 150);
    --intensity-0: rgb(102, 102, 102);
    background: var(--background-color);
    user-select: none;
    color: white;
    font-family: B612, sans-serif;
}
#main-container {
    width: 750px;
    height: 635px;
}
.window {
    width: 100%;
    height: 100%;
    display: grid;
    box-sizing: border-box;
}
#intensity-display {
    grid-template-rows: [eqinfo] 140px
    [infobanner] 45px
    [map] 450px;
}
#earthquake-description {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
#intensity-icon {
    width: 275px;
    height: 100%;
    border: 4px solid var(--border-color);
    background: var(--intensity-0);
}
#earthquake-info {
    width: 475px;
    height: 100%;
    border: 4px solid var(--border-color);
    background: var(--info-background-color);
}
#intensity-label {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding-left: 15px;
    padding-top: 85px;
}
.intensity-display {
    display: inline-block;
    font-size: 95px;
    font-weight: bolder;
    font-style: italic;
}
#tsunami-description {
    width: 100%;
}
#intensity-add {
    font-size: 75px;
    position: fixed;
    top: 10px;
    left: 217px;
}
.margin-add {
    margin-left: 10px;
}
.sub-window {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.label {
    display: inline-block;
    position: relative;
    font-size: 20px;
    left: 10px;
    width: 100px;
}
.occur-label {
    width: fit-content;
    font-size: 16px;
    position: relative;
    left: 175px;
    top: 5px;
}
#earthquake-report {
    display: flex;
    flex-direction: column;
}
#earthquake-report div {
    display: flex;
    margin-top: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.label-content {
    font-size: 23px;
    font-weight: bold;
    position: relative;
    left: 35px;
    top: -3px;
}
#banner-description {
    background: var(--info-background-color);
    border: 4px solid var(--border-color);
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    line-height: 40px;
    font-weight: bolder;
}
#intensity-report-label {
    font-size: 42px;
    font-weight: bold;
    position: relative;
    top: 25px;
    left: 75px;
}
#intensity-report .occur-label {
    font-size: 20px;
    display: inline-block;
    left: 110px;
    top: 33px;
}