<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shake_level/shaking_level.css') }}"/>
    <title>Shaking Level</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <script src="{{ url_for('static', filename='js/shake_level/shaking_level.js') }}"></script>
    <div id="main-container">
        <span id="shaking-level-label">Shake Level</span>
        <span id="shaking-level-wrap">Lv. <span id="shaking-level">---</span></span>
    </div>
</body>
</html>
