body {
    font-size: 25px;
}

#main-container {
    width: 200px;
    height: 215px;
    border: 6px solid var(--border-color);
    background: var(--info-background-color);
    box-sizing: border-box;
}

#main-container span {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
}

#shaking-level-wrap {
    font-weight: bold;
}

#shaking-level {
    display: inline !important;
}

#detailed-points {
    border-top: 3px solid var(--border-color);
}

.points {
    width: 100%;
    height: 40px;
    display: flex;
}

.point-label {
    width: 50%;
    height: 40px;
}