#main-container {
    width: 850px;
    height: 420px;
    border: 3px solid var(--border-color);
    box-sizing: border-box;
}

#tsunami-show {
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    background: var(--info-background-color);
}

#tsunami-title {
    font-family: Geometos, sans-serif;
    font-size: 28px;
    display: block;
    text-align: center;
}

#receive-title {
    font-size: 19px;
    text-align: end;
    display: block;
    margin-right: 10px;
}

#tsunami-information {
    display: grid;
    grid-template-rows: repeat(8, 45px);
    width: 100%;
    height: 360px;
    background: var(--info-background-color);
}

.tsunami-item {
    display: grid;
    grid-template-columns: [tsunami-region] 310px
    [tsunami-time] 224px
    [tsunami-height] 255px
    [status] 55px;
    box-sizing: border-box;
    height: 45px;
    font-size: 22px;
    line-height: 45px;
    border-bottom: 3px solid var(--border-color);
    text-align: center;
    overflow: hidden;
}

#tsunami-description {
    font-weight: bold;
    background: dimgray;
}

#information-overlay {
    width: 840px;
    height: 45px;
    position: absolute;
    top: 200px;
    border: 3px solid black;
    background: orange;
    color: black;
    font-size: 30px;
    text-align: center;
    line-height: 45px;
}

.rising-icon {
    width: 37px;
    height: 43px;
}

.rising-alert {
    font-weight: bolder;
    background: orange;
    color: black;
}

.major-warning {
    font-weight: bolder;
    background: black;
    color: yellow;
}

.warning {
    font-weight: bolder;
    background: var(--map-tsunami-warn);
}

.advisory {
    font-weight: bold;
    color: black;
    background: var(--map-tsunami-advisory);
}
