<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Previous Earthquakes</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/prev_earthquakes/index.css') }}">
</head>
<body>
    <div id="main-container">
        <div id="title">
            <span>Previous Earthquakes</span>
        </div>
        <div id="earthquakes">
            <span id="loading">Fetching Information...</span>
        </div>
    </div>
</body>
</html>