<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Global Earthquake List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css') }}"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="{{ url_for('static', filename='js/utilities.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global_map/index.css') }}"/>
</head>
<body>
    <script src="{{ url_for('static', filename='js/global_map/index.js') }}"></script>
    <div id="container-wrapper">
        <div id="main-container">

        </div>
        <iframe src="/map" id="detail-map-container"></iframe>
    </div>
</body>
</html>