<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css') }}"/>
    <title>Tsunami Info</title>
    <link href="{{ url_for('static', filename='css/tsunami_map/index.css') }}" rel="stylesheet" type="text/css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="{{ url_for('static', filename='js/tsunami_map/get_tsunami.js') }}"></script>
</head>
<body>
<script src="{{ url_for('static', filename='js/tsunami_map/index.js') }}"></script>
<div id="main-container">
    <div id="tsunami-banner">
        <div id="tsunami-show">
            <span id="tsunami-title">Tsunami Information</span>
            <span id="receive-title">#<span id="report-pages">--</span>/<span id="report-final-pages">--</span> Received at <span
                    id="receive-time">XXXX-XX-XX XX:XX</span></span>
        </div>
        <div id="evacuate-sign">EVACUATE!</div>
    </div>
    <div id="tsunami-information">
        <div class="tsunami-item" id="tsunami-description">
            <div>Grade</div>
            <div>Tsunami Forecast Region</div>
            <div>Initial tsunami arrival time</div>
            <div>Height</div>
        </div>
    </div>
    <div id="information-overlay">
        Waiting For Messages...
    </div>
</div>
</body>
</html>
