<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css') }}"/>
    <title>Tsunami Forecast</title>
    <link href="{{ url_for('static', filename='css/tsunami_forecast/index.css') }}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/lodash/lodash@4.17.21/lodash.min.js"></script>
    <script src="{{ url_for('static', filename='js/tsunami_forecast/get_tsunami.js') }}"></script>
</head>
<body>
<script src="{{ url_for('static', filename='js/tsunami_forecast/index.js') }}"></script>
<div id="main-container">
    <div id="tsunami-banner">
        <div id="tsunami-show">
            <span id="tsunami-title">Tsunami Forecast</span>
            <span id="receive-title"><span id="report-origin">--</span> #<span id="report-pages">--</span>/<span
                    id="report-final-pages">--</span> Received at <span
                    id="receive-time">XXXX/XX/XX XX:XX</span></span>
        </div>
    </div>
    <div id="tsunami-information">
        <div class="tsunami-item" id="tsunami-description">
            <div>Grade</div>
            <div>Tsunami Forecast Region</div>
            <div>Height</div>
        </div>
    </div>
    <div id="information-overlay">
        Waiting For Messages...
    </div>
</div>
</body>
</html>
